<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>NeverNote</title>
    <link href="/static/css/stylesheet.css" rel="stylesheet" type="text/css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>    
<h2>NeverNote</h2>

<div class="link">
    <input type="button" value="Search" onclick="window.open('search.html')">
</div>
</div>


<form action="http://localhost:5000/cgi-bin/main.py" method="post" target="frame">
    <div class="form">
        Tag：<input type="text" id="name" name="name" size=35 value="">
        Image：
        <input type="file" id="img" name="img_path" accept="image/*" style="display:none" onchange="if(this.value != '') 
                $('#check').prop('checked',true);">
        <input type="button" value="select_files" onclick="$('#img').click();">    
        <input type="checkbox" id="check" onclick="this.click()">
        <input type="submit" id="submit" style="display:none">
        <input type="button" value="exec" onclick="$('#submit').click(); $('#img').prop('value',null); $('#contents').prop('value',''); $('#check').prop('checked',false);">
        <input type="button" value="reset" onclick="$('#img').prop('value',null); $('#contents').prop('value',''); $('#check').prop('checked',false);">
    </div>
    
    <textarea id="contents" name="contents"></textarea>
    
    <div class="file">
        Notes：
        <input type="radio" name="file" value="text/note1.txt" checked="checked">note1
        <input type="radio" name="file" value="text/note2.txt">note2
        <input type="radio" name="file" value="text/note3.txt">note3
        
    </div>
    
</form>


<iframe src="http://localhost:5000/cgi-bin/main.py" name="frame" height=700 width=900>
</iframe>


</body>
</html>
  

    
